body {
  background-color: transparent;
  vertical-align: middle;
  height: 100vh;
}

html {
  background: url("https://ifh.cc/g/SJ1wfP.jpg") no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.layout {
  margin: auto;
  max-width: 1200px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
}

.nav {
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: center;

  background-color: green;
  font-size: 20px;
  display: flex;
  max-width: 1200px;
  min-width: 800px;
}

.add {
  max-width: 1200px;
  min-width: 800px;
  background-color: aqua;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
  justify-content: center;
  display: flex;
}

.btn {
  margin-left: 20px;
}
